// Managed by Ansible - proxmox_repository role
// Re-applies subscription banner removal after proxmox-widget-toolkit updates
DPkg::Post-Invoke { "if dpkg -V proxmox-widget-toolkit 2>/dev/null | grep -q proxmoxlib.js; then sed -i.bak \"s/Ext.Msg.show({/void({/\" /usr/share/javascript/proxmox-widget-toolkit/proxmoxlib.js && rm -f /usr/share/javascript/proxmox-widget-toolkit/proxmoxlib.js.gz; fi"; };
